<div class="grid-x grid-padding-x align-justify"> <!-- Aligned to the edges -->
  <div class="cell small-6 large-2"><a href="http://www.provincia.cremona.it" title="Vai al sito della Provincia di Cremona"><img src="{{ root }}assets/img/stemma-provincia-cr.png" alt="Logo della Provincia di Cremona"/></a></div>
  <div class="cell show-for-large large-8"><h2 class="subheader h1">www.atlanteambientale.it</h2></div>
  <div class="cell small-6 large-2 text-right"><a href="http://www.provincia.cremona.it/territ/?view=LivTre&amp;id=607"><img src="{{ root }}assets/img/sit.png" alt="Logo del S.I.T"/></a></div>
</div>
<div class="title-bar atl-amb-top-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar atl-amb-top-bar stacked-for-large" id="responsive-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Portale Cartografico Provinciale</li>
      {{#each globals.nav}}
      <li>
        <a href="{{ root }}{{ link }}">
          {{#if icon}}
          <i class="fa fa-{{ icon }}" aria-hidden="true"></i>
          {{/if}}
          {{ title }}
        </a>
      </li>
      {{/each}}
    </ul>
  </div>
  <div class="top-bar-right">
      <form action="https://duckduckgo.com/">
          <input type="hidden" name="sites" value="www.atlanteambientale.it">
          <ul class="menu">
              <li><input type="search" name="q" placeholder="Cerca"></li>
              <li><button type="submit" class="button">&nbsp;<i class="fa fa-search" aria-hidden="true"></i>&nbsp;</button></li>
          </ul>
      </form>
  </div>
</div>
