$highlight: $primary-color;
$footer-shadow: 0 -2px 5px 0 rgba(0,0,0,.16),
                0 -2px 10px 0 rgba(0,0,0,.12);


.responsive-blog-footer {
  @include shadow($footer-shadow);
  background: $atl-amb-dark-green;
  padding: 3rem 3rem;
  color: white;
  margin-top: 2rem;

  a {
      color: $light-gray;
      text-decoration: underline;
  }

  h4 {
    @media screen and (max-width: 39.9375em) {
      font-size: 1.2rem;
    }
  }

  p {
    color: $medium-gray;
  }
  address {
    color: $medium-gray;
    font-size: 0.8rem;
  }

  .about-section, .tag-section {
    margin-bottom: 2rem;
  }

  .fa-chevron-circle-up {
    font-size: 3rem;
    color: $dark-gray;

    &:hover {
      color: lighten($dark-gray, 15%);
      transition: color 0.3s ease-in;
    }
  }
}
