<div class="orbit clean-hero-slider" role="region" aria-label="Favorite Space Pictures" data-orbit>
  <div class="orbit-wrapper">
    <!-- <div class="orbit-controls"> -->
    <!--   <button class="orbit-previous"><span class="show-for-sr">Slide precedente</span>&#9664;&#xFE0E;</button> -->
    <!--   <button class="orbit-next"><span class="show-for-sr">Prossima Slide</span>&#9654;&#xFE0E;</button> -->
    <!-- </div> -->
    <ul class="orbit-container">
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="{{root}}assets/img/slide/crops.jpg" alt="image alt text">
          <figcaption class="orbit-caption">
              <h3>{{news.[0].title}}</h3>
            <p>{{news.[0].desc}}</p>
            {{#if news.[0].link}}
            <a href="{{news.[0].link}}" class="button primary">{{news.[0].link-desc}}</a>
            {{/if}}
          </figcaption>
        </figure>
      </li>
    </ul>
  </div>
  <!-- <nav class="orbit-bullets"> -->
  <!--     <button class="is-active" data-slide="1"><span class="show-for-sr">{{news.[0].title}}</span></button> -->
  <!-- </nav> -->
</div>
<br />
