<div class="orbit clean-hero-slider" role="region" aria-label="Favorite Space Pictures" data-orbit>
  <div class="orbit-wrapper">
    <div class="orbit-controls">
      <button class="orbit-previous"><span class="show-for-sr">Slide precedente</span>&#9664;&#xFE0E;</button>
      <button class="orbit-next"><span class="show-for-sr">Prossima Slide</span>&#9654;&#xFE0E;</button>
    </div>
    <ul class="orbit-container">
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="{{root}}assets/img/slide/crops.jpg" alt="image alt text">
          <figcaption class="orbit-caption">
            <h3>Ottobre 2019</h3>
            <p>Aggiornati i servizi online con i nuovi limiti amministrativi comunali forniti da Regione Lombardia</p>
            <a href="https://www.atlanteambientale.it/sit/" class="button primary">Vai al S.I.T.</a>
          </figcaption>
        </figure>
      </li>
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="{{root}}assets/img/slide/puzzle.jpg" alt="image alt text">
          <figcaption class="orbit-caption">
            <h3>Nuovo Atlante Ambientale</h3>
            <p>Online il nuovo sito di Atlante Ambientale: rinnovato nella grafica e aggiornato nei contenuti</p>
            <!-- <a href="#" class="button primary">Mattis Elit</a> -->
          </figcaption>
        </figure>
      </li>
      <!--
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="{{root}}assets/img/slide/autoatlante.jpg" alt="image alt text">
          <figcaption class="orbit-caption">
            <h3>Titolo di prova</h3>
            <p>Fusce dapibus, tellus ac cursus commodo, sit amet risus. Cras mattis consectetur purus sit amet fermentum. Maecenas sed diam sit amet non magna.</p>
            <a href="#" class="button primary">Sollicitudin</a>
          </figcaption>
        </figure>
      </li>
      -->
    </ul>
  </div>
  <nav class="orbit-bullets">
    <button class="is-active" data-slide="1"><span class="show-for-sr">Ottobre 2019</span></button>
    <button data-slide="2"><span class="show-for-sr">Nuovo Atlante Ambientale</span></button>
    <!-- <button data-slide="3"><span class="show-for-sr">Titolo di prova</span></button> -->
  </nav>
</div>
<br />
