<div class="orbit clean-hero-slider" role="region" aria-label="Favorite Space Pictures" data-orbit>
  <div class="orbit-wrapper">
    <div class="orbit-controls">
      <button class="orbit-previous"><span class="show-for-sr">Slide precedente</span>&#9664;&#xFE0E;</button>
      <button class="orbit-next"><span class="show-for-sr">Prossima Slide</span>&#9654;&#xFE0E;</button>
    </div>
    <ul class="orbit-container">
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="{{root}}assets/img/slide/puzzle.jpg" alt="image alt text">
          <figcaption class="orbit-caption">
            <h3>Nuovo Sito</h3>
            <p>Etiam porta sem malesuada magna mollis euismod. Vestibulum id ligula porta felis euismod semper.</p>
            <a href="#" class="button primary">Mattis Elit</a>
          </figcaption>
        </figure>
      </li>
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="{{root}}assets/img/slide/crops.jpg" alt="image alt text">
          <figcaption class="orbit-caption">
            <h3>Agosto 2017</h3>
            <p>Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="#" class="button primary">Egestas Amet</a>
          </figcaption>
        </figure>
      </li>
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="{{root}}assets/img/slide/auto-atlante.jpg" alt="image alt text">
          <figcaption class="orbit-caption">
            <h3>Titolo di prova</h3>
            <p>Fusce dapibus, tellus ac cursus commodo, sit amet risus. Cras mattis consectetur purus sit amet fermentum. Maecenas sed diam sit amet non magna.</p>
            <a href="#" class="button primary">Sollicitudin</a>
          </figcaption>
        </figure>
      </li>
    </ul>
  </div>
  <nav class="orbit-bullets">
    <button class="is-active" data-slide="1"><span class="show-for-sr">Nuovo Sito</span></button>
    <button data-slide="2"><span class="show-for-sr">Agosto 2017</span></button>
    <button data-slide="3"><span class="show-for-sr">Titolo di prova</span></button>
  </nav>
</div>
<br />
