<footer class="responsive-blog-footer">
  <div class="row">
    <div class="medium-6 columns small-order-2 medium-order-1 about-container">
      <div class="row">
        <div class="medium-12 columns about-section">
          <h4>Chi siamo</h4>
          <p>Il Portale Cartografico Provinciale è curato dall'Ufficio Sistemi Informativi Territoriali della Provincia di Cremona.</p>
          <a href="http://www.provincia.cremona.it/territ/?view=LivTre&amp;id=607">Per saperne di pi&ugrave;</a>
        </div>
      </div>
    </div>
    <div class="small-12 medium-6 columns small-order-1 medium-order-2 about-container">
      <h4>Contatti</h4>
      <address>
        <b>Ufficio Sistemi Informativi Territoriali</b><br />
        Via della Conca, 3 - Cremona<br />
        <b>Email:</b> <a href="mailto:sit@provincia.cremona.it">sit@provincia.cremona.it</a><br />
        <b>Telefono:</b> 0372-406399 - <b>Fax:</b> 0372-406533
      </address>
      <br />
      <address>
        <b>Settore Amibiente e Territorio</b><br />
        Via della Conca, 3 - Cremona<br />
        <b>Email:</b> <a href="mailto:territorio@provincia.cremona.it">territorio@provincia.cremona.it</a><br />
        <b>Telefono:</b> 0372-406466/467 - <b>Fax:</b> 0372-406533
      </address>
    </div>
  </div>
  <div class="row tag-search">
    <div class="columns">
      <h4>Link utili</h4>
      <ul class="menu simple tag-section">
        <li><a href="http://www.pcn.minambiente.it/GN/" target="_blank">Portale Cartografico Nazionale</a></li>
        <li><a href="http://www.geoportale.regione.lombardia.it/" target="_blank">Portale Cartografico Lombardia</a></li>
        <li><a href="https://geoportale.regione.emilia-romagna.it/it" target="_blank">Geoportale Emilia Romagna</a></li>
        <li><a href="http://www.rndt.gov.it/" target="_blank">Repertorio Nazionale dei Dati Territoriali</a></li>
      </ul>
    </div>
  </div>
  <div class="row columns flex-container align-center">
    <p>Questo sito <a href="{{ root }}/termini-utilizzo.html#cookies">utilizza i cookies</a> per migliorare le funzioni di navigazione. Se non accetti l'uso dei cookies abbandona questo sito web.</a>
  </div>
  <div class="row columns flex-container align-center">
    <p>&copy; 2017 - S.I.T. della Provincia di Cremona  - <a href="{{ root }}/termini-utilizzo.html">Terminini di utiilizzo</a></p>
  </div>
  <div class="row columns flex-container align-center">
    <div class="up-arrow">
      <a href="#top" data-smooth-scroll><i class="fa fa-chevron-circle-up" aria-hidden="true"></i></a>
    </div>
  </div>
</footer>
