<footer class="footer">
  <div class="row about-section">
    <div class="large-5 columns about-content">
      <h4>Chi siamo</h4>
      <p>Il Portale Cartografico Provinciale è curato dall'Ufficio Sistemi Informativi Territoriali della Provincia di Cremona.</p>
      <a href="http://www.provincia.cremona.it/territ/?view=LivTre&amp;id=607">Per saperne di pi&ugrave;</a>
    </div>
    <div class="large-4 columns about-content">
      <h4>Contatti</h4>
      <address>
        <b>Ufficio Sistemi Informativi Territoriali</b><br />
        Via della Conca, 3 - Cremona<br />
        <b>Email:</b> <a href="mailto:sit@provincia.cremona.it">sit@provincia.cremona.it</a><br />
        <b>Telefono:</b> 0372-406466/467 - <b>Fax:</b> 0372-406612
      </address>
      <br />
      <address>
        <b>Settore Ambiente e Territorio</b><br />
        <b>Email:</b> <a href="mailto:territorio@provincia.cremona.it">territorio@provincia.cremona.it</a><br />
      </address>
    </div>
    <div class="large-3 columns about-content">
      <h4>Link utili</h4>
      <ul>
        <li><a href="http://www.pcn.minambiente.it/GN/" target="_blank">Portale Cartografico Nazionale</a></li>
        <li><a href="http://www.geoportale.regione.lombardia.it/" target="_blank">Portale Cartografico Lombardia</a></li>
        <li><a href="https://geoportale.regione.emilia-romagna.it/it" target="_blank">Geoportale Emilia Romagna</a></li>
        <li><a href="http://www.rndt.gov.it/" target="_blank">Repertorio Nazionale dei Dati Territoriali</a></li>
      </ul>
    </div>
  </div>
  <div class="row columns flex-container align-center">
    <div class="up-arrow">
      <a href="#top" title="Torna ad inizio pagina" data-smooth-scroll><i class="fa fa-chevron-circle-up" aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="row columns flex-container align-center">
    <p>Questo sito <a href="{{ root }}termini-utilizzo.html#cookies">utilizza i cookies</a> per migliorare le funzioni di navigazione. Se non accetti l'uso dei cookies abbandona questo sito web.</p>
  </div>
  <div class="row columns flex-container align-center">
    <p> S.I.T. della Provincia di Cremona  - <a href="{{ root }}termini-utilizzo.html">Terminini di utiilizzo</a></p>
  </div>
  <div class="row columns flex-container align-center">
      <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.it" title="Licenza Creative Commons CC-BY-SA International">
        <img class="center-text" src="{{ root }}assets/img/cc-by-sa-88x31.png" alt="Licenza Creative Commons CC-BY-SA International">
      </a>
  </div>
</footer>
